.App {
  background-color: #D1CCDC;
  position: relative;
}

.centered {
  text-align: center;
}

.styledButton {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: white;
  border-color: #774054;
  color: #774054;
}
